.navigation{
    position: absolute;
    z-index: 1;
    cursor: pointer;
    background-color: #fff;
    border-radius: 50%;
    border: solid 1px #ccc;
}
.button-prev{
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
}
.button-next{
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
}
.swiper-container{
  position: relative;
}
.swiper-slide{
    background-color: gray;
}