 .navigation{
    position: absolute;
    z-index: 1;
    cursor: pointer;
    background-color: transparent;
    border-radius: 50%;
    border: none;
}
.swiper-container{
    padding: 50px 0 20px;
}
.swiper-wrapper{
    height: auto;
}
.swiper-container{
  position: relative;
}
.swiper-slide{
    position: relative;
    width: auto;
}
.swiper-slide {
  background-color: #f3f3f3;
}

/* Fallback */
.swiper-slide {
  margin-right: 20px;
}
/* .swiper-slide:last-child {
  margin-right: 0;
} */
.swiper-initialized .swiper-slide {
  margin-right: 0;
}